.container {
  border: 1px solid;
  min-width: 100vw;
  min-height: 100vh;
}

.videoBox {
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
}

.video {
  transform-origin: center;
  transform: rotateY(180deg);
  visibility: hidden;
  object-fit: cover;
}
