$sky-image-url: "https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260";

.container {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url($sky-image-url);

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    color: #fff;

    span:nth-of-type(1) {
      animation: dotAnimate1 5s backwards infinite;
    }
    span:nth-of-type(2) {
      animation: dotAnimate2 5s backwards infinite;
    }
    span:nth-of-type(3) {
      animation: dotAnimate3 5s backwards infinite;
    }
  }
}

.handBox {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2vw;
}

.videoBox {
  position: fixed;
  top: 0;
  left: 0;
}

.video {
  transform-origin: center;
  transform: rotateY(180deg);
  visibility: hidden;
  object-fit: cover;
}

@keyframes dotAnimate1 {
  from {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes dotAnimate2 {
  from {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes dotAnimate3 {
  from {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
