@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Baloo Chettan", cursive;
}
